
body.nav /* nav bar */
{
	background:#EEEEEE; 
	margin:0px;
	font-size: 8pt;
	font-weight:bold;
	font-family: tahoma, verdana, arial, helvetica, sans serif 
}

div#right {
  background: #cccccc;
  position: fixed;
  top: 0px; bottom: 0px;
  width: 2px;
  right: 0px;
}

.nav div	/* nav bar style */
{	
	white-space: color: #363636;
	padding: 0px;
}

.treeNodeTop {
	text-decoration: none; color: #00007D; font: 8pt tahoma;	
	font-weight:bold;
}

.treeNodeSecond {
	text-decoration: none; color: #00007D; font: 8pt tahoma;	
	font-weight:bold;
}

.treeNode {
	text-decoration: none; color: #00007D; font: 8pt tahoma;
}