body {
  font: 10pt sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	font: 40px;
}
/*
.x .tick.major {
  font-size: 1.1em;
  fill: red;
}
*/
.dot {
  stroke: #000;
}

.xgrid, .ygrid {
  opacity: 0.3;
  stroke: #000;
  stroke-width:2;
}

.label {
	  fill: black;
	  font-size:1.2em;
    font-weight:bold;
}

.pulldownlabel {
  margin-right: 5px;
}
