body {
  font-size: 12pt;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #FFFFFF;
  margin-bottom: 200px;
}

.pulldownrow {
  margin: 15px 0 20px 30px;
}

.pulldownlabel {
  margin-right: 5px;
  color: #000;
}

#pulldown_layout {
  font-family: 'Ubuntu Condensed', sans-serif; 
  font-size: 11pt;
  background-color: #F2F2F2;
}

svg {
  background-color: #F2F2F2;
  margin-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	font: 40px;
}

.dot {
  stroke: #000;
}

.legend_dots {
  stroke: #000;
  stroke-width: "2";
}

.xgrid, .ygrid {
  opacity: 0.3;
  stroke: #000;
  stroke-width:2;
}

.label, .z_label {
	  fill: black;
	  font-size:1.2em;
}

.legBub {
  fill: none;
  stroke: #000;
  stroke-width:1;  
}